.filter-bg-dark{background: #22313F !important;}
.filter-bg-dark:before{background: #22313F !important;}
.filter-bg-blue{background: #446CB3 !important;}
.btn{border:none;color:#FFF}
a{color:#FFF};
.dropdown-menu li a {color:#446CB3 !important}
.simple-border-rounded{
    border-radius:3%;
}
.color-dark{color:#22313F;}
.border-dark:before,.border-dark:after,.border-dark{border-color: #22313F !important}
.info-icon > .fa{color:#446CB3;font-size: 2.5em !important}
.fa{color:#446CB3}
#scrolling-menu li{
    margin: 0;

    padding:0;
}
.logo-home{
    width: 100px;
    margin-top:-27px; 
}
.loaded{
    background:#FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999;
    text-align: center;
   
}
.loaded img{
    text-align: center;
    margin-top: 20%;
}