.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
.view{
    background-image: url('../../img/header-1.jpeg'); background-repeat: no-repeat; background-size: cover;
}
.gradient-green{
    background: -webkit-linear-gradient(50deg,rgb(0, 170, 137),rgb(0, 80, 65))!important;
    background: -o-linear-gradient(50deg,rgb(0, 170, 137),rgb(0, 80, 65))!important;
    background: linear-gradient(40deg,rgb(0, 170, 137),rgb(0, 80, 65))!important;
}
